<form 
  class="user-form"
  action="<%= action%>" 
  method="POST">
  <%= render "shared/errors" , errors: flash[:errors], type: :base %>
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <label class="user-text-label" for="username-input">Username</label>
  <input
    class="user-text-input"
    id="username-input"
    type="text"
    name="user[username]"
    value="<%= user.username %>"
  >
  <%= render 'shared/errors' , errors: flash[:errors], type: :username %>
  <label class="user-text-label" for="password-input">Password</label>
  <input
    class="user-text-input"
    id="password-input"
    type="password"
    name="user[password]"
  >
  <%= render 'shared/errors' , errors: flash[:errors], type: :password %>
  <button class="form-button"><%= submit_text %></button>
</form>